@CHARSET "UTF-8";

a {
	text-decoration: none;
	/* 	color:#ccbbaa; */
}

#wrapper {
	margin: 0px auto;
	width: 1000px;
	background-color: #e7ebee;
}

#banner {
	background-color: windowtext;
	margin: 0px auto;
	height: 250px;
}

#banner .logo {
	text-align: left;
	width: 250px;
	text-shadow: gray;
	font-family: cursive;
	font-size: x-large;
	font-family: cursive;
	text-shadow: gray;
}

#banner img {
	height: 175px;
	width: 400px;
	margin: -10px auto 10px 350px;
	padding: 10px;
	border-radius:5px;
}

#navbar {
	background-color: #333;
	height: 50px;
	border-radius: 8px 8px 5px 5px;
}

#navbar .login {
	margin: -10px 0 0 0;
	float: right;
}

#navbar .menu {
	
}

margin: 0px px auto  50px ;
#navbar ul {
	/*     list-style-type:none; */
	
}

#navbar ul li {
	display: inline;
	float: left;
	width: 100px;
	text-align: center;
	padding: 10px;
}

#navbar ul li a {
	size: 20px;
	color: white;
}

#image-slider {
	margin: 5px 200px auto 200px;
	height: 300px;
	border: 5px solid threedface;
}

#main-content {
	background-color: windowframe;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

 #left-content {
	border-right: 2px dashed window;
    float: left;
    height: 2500px;
    margin: 0;
    text-align: left;
    width: 170px;
}

#left-content .side-content {
	margin: 0;
	border-spacing: 5px overflow;
	height: 250px;
}

#left-content .side-content ul li {
	list-style: none;
	width: 100px;
	text-align: center;
	padding: 10px;
};
#right-content {
	height: 1500px;
	border: 1px solid black;
	margin: 0;
	background-color: #e7ebee;
}

/* movies specific */
.single-movie{
	
	display: inline-block;
    height: auto;
    width: 828px;
	
	
}
#right-content ul li{
	list-style: none;
	display: inline-block;
	
	
}

.movie-info {
	background-color: #F9F9F9;
    float: left;
    height: auto;
    margin-left: 10px;
    width: 70%;
	border-radius: 12px 12px 12px 12px;
	
}
.movie-rate-bar {
	background-color: #F9FCFF;
    float: right;
    width: 28%;
    height:208px;
    border-radius: 12px 12px 12px 12px;
}
.movie-info .heading-format {
	font-weight: bold;
	margin-bottom: 10px;
	text-align: left;
	text-decoration: none;
}
.movie-info .image-hold img{
	box-shadow: 0 0 1px 1px #999999;
    float: left;
    height: 130px;
    margin: 5px 10px 5px 5px;
    padding: 5px;
    width: 150px;
    border-radius: 8px;
}
.movie-info .movie-content {
	
    font-size: 12px;
    margin: 5px 8px auto auto;
    text-align: justify;
}
.movie-info .tags {
	background-color: #999;
	font-size: 14px;
}


#rate-movie {
	background-color: windowtext;
	height: 200px;
}

#footer {
	height: 50px;
	width: auto;
	background-color: threedshadow;
	text-align: center;
	border-radius: 8px 8px 8px 8px;
}

.clr {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0;
	line-height: 0;
}

/* form properties */
.form-signin {
                max-width: 300px;
                height: auto;
                padding: 19px 29px 29px;
                margin: 0 auto 20px;
                background-color: #fff;
                border: 1px solid #e5e5e5;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
            }
            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }
            .submit-button{
                font-size: 16px;
                background-color: green;
                color:wheat ;
                padding: 7px 9px;
                /*float: right;*/
            }
            .form-signin input[type="text"],
            .form-signin input[type="password"] {
                font-size: 16px;
                height: auto;
                margin-bottom: 15px;
                padding: 7px 9px;
            }


